@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

/* Fondo de la página */
body {
    background-color: #F5E6CC; /* Crema suave */
}

/* Encabezado */
header {
    text-align: center;
    padding: 20px;
    background-color: #E1A100; /* Mostaza elegante */
}

/* Título */
h1 {
    font-family: 'Playfair Display', serif;
    color: black; /* Letras negras */
    padding: 20px;
    border-radius: 5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra sutil */
}

/* Barra de navegación */
.navbar {
  background-color: #222222; /* Negro elegante */
  font-size: 18px;
}

/* Color de los enlaces */
.nav-link {
  color: white !important;
}

/* Efecto hover en los enlaces */
.nav-link:hover {
  color: #E1A100 !important; /* Mostaza refinado */
}

/* Ajustar altura del carrusel */
#menuCarousel img {
  height: 400px; /* Define la altura para que las imágenes sean uniformes */
  object-fit: cover; /* Ajusta las imágenes sin perder proporción */
}

/* Estilos para el título de la carta */
h2 {
  text-align: center;
  font-size: 28px;
  color: #2D2D2D; /* Gris oscuro elegante */
}

/* Estilo de las tarjetas */
.card {
  border: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Efecto sutil de sombra */
}

/* Estilo del texto en la historia */
.card-text {
  font-size: 18px;
  color: #2D2D2D;
  text-align: center;
}


/* Estilos de la sección de sucursales */
h3 {
  color: #E1A100; /* Mostaza refinado */
  text-align: center;
}

.sucursal p {
  text-align: center;
  font-size: 16px;
  color: #2D2D2D;
}

/* Estilos del formulario */
form {
  max-width: 600px;
  margin: auto;
}

/* Botón del formulario */
.btn-primary {
  background-color: #E1A100; /* Mostaza refinado */
  border: none;
  color: black;
}

.btn-primary:hover {
  background-color: #cf8f00; /* Mostaza más oscuro */
}

/* Estilos del footer */
footer {
  background-color: #222222; /* Negro elegante */
  color: white;
  padding: 15px;
}

/* Ajuste de los iconos de redes sociales */
footer img {
  transition: transform 0.3s ease-in-out;
}

footer img:hover {
  transform: scale(1.2); /* Efecto de aumento */
}

html {
  scroll-behavior: smooth;
}